[Unit]
Description=Camera capture
After=initscript.service

[Service]
Type=simple
ExecStart=/usr/bin/capture
Restart=always

[Install]
WantedBy=multi-user.target
