[Unit]
Description=Main program
After=initscript.service

[Service]
Type=simple
ExecStart=/usr/bin/main
Restart=always

[Install]
WantedBy=multi-user.target
