[Unit]
Description=Main program
After=initscript.service

[Service]
Type=simple
ExecStart=/usr/bin/main
Restart=always
RestartSec=2
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
